body {
    margin: 0;
}

div.text {
    margin-bottom: 0%;
    padding: 15%;
    width: 60%;
    height: 50%;
}

h1 {
    background-color: rgb(251, 255, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-color: black;
}

ul {
    list-style-type: none;
    margin-top: 0%;
    direction: initial;
    padding: 0;
    width: 100%;
    background-color: red;
    position: fixed;
    height: 25%;
    overflow: auto;
}

li a.active {
    margin-top: initial;
    background-color: rgb(255, 25, 25);
    color: rgb(0, 0, 0);
}

li a:hover:not(.active) {
    background-color: firebrick;
    color: rgb(107, 70, 70);
}

div.redes {
    display: inline-block;
    position: fixed;
    padding: 4px;
    left: 0;
    top: 450px;
    width: 20px;
    height: 15px;
    background-color: #7a2c2c;
    border: solid 1px #130b0b;
    box-shadow: 2px 2px 10px #c9b826;
}

.fuentePiePagina {
    font-size: 12px;
    color: #000000;
    display: inline;
}

footer {
    text-align: center;
    text-decoration: none;
    background-color: #9e1717;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 16px;
}

body {
    margin: 10px 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-stretch: condensed;
}

.botones {
    position: relative;
    display: inline-block;
}

.boton-seleccion {
    background-color: #ffffff;
    color: #aa3131;
    padding: 8px;
    font-size: 14px;
    border: 1px solid rgb(133, 131, 23);
    cursor: pointer;
}

.botones:hover .boton-seleccion {
    color: #632323;
    background-color: rgb(243, 228, 24);
    border: 1px solid #a34646;
}